:root {
  --white : #FFFF;
  --primary : #F59E0B;
}
html{
  font-size: 62.5%;
}
body {
  font-family: "Outfit", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('weather.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color : var(--white);
  font-size: 2rem;
}
